{% extends "parent.html" %}

{% block specific_js %}
<script type="text/javascript">
//    let scriptSettings = {{ settings | safe }};
</script>
<script src="/js/settings.js"></script>
{% endblock %}

{% block container %}
<div class="row">
    <label for="settings-template-string" class="col-md-6">Template String</label>
    <input type="text" class="col-md-6" id="settings-template-string"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-counter">Counter :</label>
    <input type="text" class="col-md-6" id="settings-counter"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-tasksequenceid">TaskSequenceId</label>
    <input type="text" class="col-md-6" id="settings-tasksequenceid"></input>
</div>



<div class="row">
    <label class="col-md-6" for="settings-glpi-user">user :</label>
    <input type="text" class="col-md-6" id="settings-glpi-user"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-glpi-password">password :</label>
    <input type="text" class="col-md-6" id="settings-glpi-password"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-glpi-hostname">hostname :</label>
    <input type="text" class="col-md-6" id="settings-glpi-hostname"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-glpi-port">port :</label>
    <input type="text" class="col-md-6" id="settings-glpi-port"></input>
</div>

<div class="row">
    <label class="col-md-6" for="settings-glpi-endpoint">endpoint :</label>
    <input type="text" class="col-md-6" id="settings-glpi-endpoint"></input>
</div>


<div class="row" >
    <button class="col-md-12" id="settings-button-update-template">Update</button>
</div>
<div class="row" >
    <div class="col-md-12" id="settings-errorBox"></div>
</div>
{% endblock %}

